Repository engine-buddies/light-vox-engine, pull requests merged in 2018-11, with the labels that each got.

#38 First Iteration of Physics/JobSystem integration
  Light Vox Engine/JobSystem/ConcurrentQueue.h
  Light Vox Engine/JobSystem/CpuJob.h
  Light Vox Engine/JobSystem/JobManager.cpp
  Light Vox Engine/JobSystem/JobManager.h
  Light Vox Engine/JobSystem/JobSequence.cpp
  Light Vox Engine/JobSystem/JobSequence.h
  Light Vox Engine/Light Vox Engine.vcxproj
  Light Vox Engine/Light Vox Engine.vcxproj.filters
  Light Vox Engine/Physics/Solver.cpp
  Light Vox Engine/Physics/Solver.h
  Light Vox Engine/Utils/Configs.h
Labels: Tools

#37 Cross Platform Cleanup pt. 1
  Light Vox Engine/ECS/ComponentManager.cpp
  Light Vox Engine/ECS/ComponentManager.h
  Light Vox Engine/ECS/EntityComponents.h
  Light Vox Engine/ECS/EntityManager.cpp
  Light Vox Engine/ECS/EntityManager.h
  Light Vox Engine/Engine.cpp
  Light Vox Engine/Engine.h
  Light Vox Engine/GameTime.cpp
  Light Vox Engine/GameTime.h
  Light Vox Engine/GameTimeWin.cpp
  Light Vox Engine/Graphics/Camera.cpp
  Light Vox Engine/Graphics/Camera.h
  Light Vox Engine/Graphics/FrameResource.cpp
  Light Vox Engine/Graphics/FrameResource.h
  Light Vox Engine/Graphics/GraphicsBase.cpp
  Light Vox Engine/Graphics/GraphicsCore.cpp
  Light Vox Engine/Graphics/GraphicsCore.h
  Light Vox Engine/Graphics/ObjLoader.cpp
  Light Vox Engine/Graphics/ObjLoader.h
  Light Vox Engine/Graphics/ShaderDefinitions.h
  Light Vox Engine/JobSystem/JobSequence.cpp
  Light Vox Engine/JobSystem/JobSequence.h
  Light Vox Engine/Light Vox Engine.vcxproj
  Light Vox Engine/Light Vox Engine.vcxproj.filters
  Light Vox Engine/Physics/RigidBody.cpp
  Light Vox Engine/Physics/RigidBody.h
  Light Vox Engine/Physics/Solver.cpp
  Light Vox Engine/Utils/DXSampleHelper.h
  Light Vox Engine/Utils/LVutils.h
  Light Vox Engine/main.cpp
  Light Vox Engine/stdafx.h
Labels: Graphics, Physics

#48 Added camera input
  Light Vox Engine/Engine.cpp
  Light Vox Engine/Engine.h
  Light Vox Engine/Graphics/Camera.cpp
  Light Vox Engine/Graphics/Camera.h
  Light Vox Engine/Graphics/FrameResource.cpp
  Light Vox Engine/Graphics/GraphicsCore.cpp
  Light Vox Engine/Graphics/ShaderDefinitions.h
  Light Vox Engine/Input/InputManager.cpp
  Light Vox Engine/Shaders/ps_lighting.hlsl
Labels: Graphics, Tools
