Repository engine-buddies/light-vox-engine, pull requests merged in 2018-12, with the labels that each got.

#57 Fix issue with the components being stack-allocated
  Light Vox Engine/ECS/ComponentManager.cpp
  Light Vox Engine/ECS/ComponentManager.h
  Light Vox Engine/ECS/Entity.h
  Light Vox Engine/ECS/EntityManager.h
Labels: P0, bug

#52 Fixed z-fighting issue and integrated mouse input with camera
  Light Vox Engine/Engine.cpp
  Light Vox Engine/Graphics/Camera.cpp
  Light Vox Engine/Graphics/Camera.h
  Light Vox Engine/Input/InputManager.cpp
  Light Vox Engine/Input/InputManager.h
Labels: Graphics, P1

#58 Physics/collision resolution
  Light Vox Engine/ECS/ComponentManager.cpp
  Light Vox Engine/ECS/ComponentManager.h
  Light Vox Engine/ECS/EntityComponents.h
  Light Vox Engine/Engine.cpp
  Light Vox Engine/Light Vox Engine.vcxproj
  Light Vox Engine/Light Vox Engine.vcxproj.filters
  Light Vox Engine/Physics/ContactSolver.cpp
  Light Vox Engine/Physics/ContactSolver.h
  Light Vox Engine/Physics/RigidBody.cpp
  Light Vox Engine/Physics/RigidBody.h
  Light Vox Engine/Physics/Solver.cpp
  Light Vox Engine/Physics/Solver.h
  Light Vox Engine/Utils/Configs.h
  Light Vox Engine/stdafx.h
Labels: P3, Physics, feature

#64 Job sys improv
  Light Vox Engine/Engine.cpp
  Light Vox Engine/Engine.h
  Light Vox Engine/JobSystem/JobManager.cpp
  Light Vox Engine/JobSystem/JobManager.h
  Light Vox Engine/Physics/Solver.h
  Light Vox Engine/Utils/Configs.h
Labels: P1, feature
